# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/
env.bak/
env1/
env2/
env3/
.env
*.env

# IDE
.idea/

# Logs
*.log

# Build
build/
dist/
*.egg-info/
*.egg

# Compiled files
*.pyc
*.pyo
*.pyd

# Miscellaneous
*.swp
*~
.DS_Store
ResumeLatest.xml

images/*.png
images/*.jpg
images/*.jpeg
images/*.gif

audios/*.mp3
audios/*.wav

videos/*.mp4
videos/*.avi
videos/*.mov

