beautifulsoup4
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
google-auth
gTTs
httplib2
langchain
langchain-community
langchain-core
moviepy==1.0.3
mutagen
openai
opencv-python
python-dotenv
pyttsx3
requests
tiktoken
tweepy
